body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* styling css */
.hiding {
  display: none;
}

.showing {
  display: block;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* element property */
.clock-div {
  text-align: center;
}

.name-div {
  align-items: center;
  justify-content: center;
}

.name-input {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-content {

}

/* animation */
.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 10;
  }
}

/* for todo remove, finish effect */
.fade-out { 
  animation: fadeOut 3s;
}

@keyframes fadeOut {
  from {
    opacity: 10;
  } to {
    opacity: 0;
  }
}